{% extends "main/base.html" %}
{% load static %}

{% block content %}
<center>
<!--    <h1>Прогулки</h1>-->
<!--    <h2>{{walk.name}}</h2>-->
<!--    <p>{{walk.description}}</p>-->
<!--    <p>Расстояние прогулки{{walk.description}}</p>-->
<!--    <img src ="{{walk.map.url}}" alt="" width="900px">-->


    <div class="card" style="width: 900px;">
    <img class="card-img-top" src="{{walk.map.url}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{walk.name}}</h5>
    <p class="card-text">{{walk.description}}</p>
    <p> Расстояние прогулки {{walk.distance}}</p>
  </div>
</div>




</center>
{% endblock %}