{% extends "main/base.html" %}
{% load static %}

{% block content %}

<!--<center>-->
<!--<h1>   Прогулки   </h1>-->
    <!--<h2>{{walk.name}}</h2>-->
    <!--<p>{{walk.description}}</p>-->
    <!--<p>Расстояние прогулки {{walk.distance}}</p>-->


<!--<img src="{{walk.map.url}}" width = 30%>-->
<!--</center>-->

<center>
 <div cl<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{walk.map.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{walk.name}}</h5>
    <p class="card-text">{{walk.description}}</p>
      <p>Расстояние прогулки {{walk.distance}}</p>
  </div>
</div>
    </center>

{% endblock %}
